<section  class="row justify-content-center  mt-5">
<form class="col-md-4 col-md-offset-5 align-center">
  <!-- Email input -->
  <div class="form-outline mb-4 ">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  
  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Login</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="/signup">Create new account?</a></p>
   
   
  </div>
</form>
</section>